@import '_partial.scss';
@import '_mixin.scss';

#card-container {
    @include mediaborder();
}

body {
    background-color: $backgroundcolor;
    line-height: 1.5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    padding: 1rem;
    font-size: 1.25rem;
    color: #3e5463;
    
}

header {
    background-color: $primarycolor;
    padding: 1rem;

}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-size: 1.25rem;
    color: #3e5463;
    
}
article {
    h1 {
    font-size: 2rem;
    color: $secondarycolor;
    text-shadow: #3e5463 5px 5px 5px;
    }


    h2 {
    font-size: 1.5rem;
    color: $secondarycolor;
    text-shadow: #3e5463 5px 5px 5px;
    }
}
a {
    color: $primarycolor;
    text-shadow: black 1px 1px 1px;
    
    a:hover {
        color: goldenrod;
    }
}



.logo {
    width: 450px;
}

.banner {
    background-image: url(../media/banner.png);
    background-size: cover;
    min-height: 600px;
    background-position: top center;
    margin-bottom: 2rem;

    h3 {
        color: $secondarycolor;
        font-weight: bold;
        font-size: 3rem;
        text-transform: uppercase;
        text-shadow: #3e5463 5px 5px 5px;
        text-align: right;
    }
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.heartworms {
    float: left;
    margin-right: 1rem;
    margin-bottom: .7rem;
  @include mediaborder();
    
}

.live {
    float: right;
    margin-left: 1rem;
    margin-bottom: .5rem;
    height: 300px;
    width: auto;
   @include mediaborder();
    
}

.musicvideo {
    padding-top: 2rem;
    background-color: #d88181;

}

.australia {
    width: 560px;
    height: 315px;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    @include mediaborder();   
}

footer {
    font-size: 15px;
    text-align: center;
}
